@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { font-family: Inter, system-ui, sans-serif; }
  body { @apply bg-background text-on-background antialiased; }
  h1, h2, h3 { font-family: Manrope, system-ui, sans-serif; }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
